
%h2= "残高#{@zanndaka}円"
%h3 メニュー
%ul
  %li= link_to "収入確認", :incomes
  %li= link_to "支出確認", :spendings




%button#toggleMenuButton ボタン
:javascript
  $("#users").trigger("users:loaded");
#toggleMenu
  %ul
    %li top
    %li about
    %li contact

