.header{
  height: 200px;
  width: 100%;
  &__title{
  text-align: center;
  font-size: 80px;
  margin-bottom: 20px;
  }
  &__contents{
    text-align: center;
  }
  &__name{
    text-align: right;
    margin-right: 30px;
  }
}