.formmain{
  text-align: center;
  background-color: white;
  width: 100%;
  padding: 100px 0px 0px 0px;
  &__category{
    a{
      width: 350px;
      display: inline-block;
      color:rgb(51, 51, 51);
      border-radius: 4px;
      min-width: 80px;
      height: 50px;
      box-shadow: 1px 1px 1px 1px rgba(14,14,14,0.0580392);
      -webkit-box-shadow: 1px 1px 1px 1px rgba(14,14,14,0.0580392);
      padding: 0 30px;
      margin: 5px;
      color: #333;
      font-size: 20px;
      line-height: 50px;
      background-image: linear-gradient(to right, #ff758c 0%, #ff7eb3 100%);
      cursor: pointer;
      text-decoration: none;         
      &:hover {
        background-image: linear-gradient(45deg, #874da2 0%, #c43a30 100%);
        color: white;
      }
    }
  }
  &__title{
    color:#FF9933;
    font-size: 30px;
    font-weight: bold;
    padding-top: 70px;
  }
  .field{
    width: 25%;
    margin: 0 auto;
    margin-bottom: 35px;
    h1{text-align: left;}
    p{text-align: left;
      font-size: 12px;
      }
    &__title{
      display: flex;
    
      &__label{
        font-weight: 600;
      }
    }
    &__text{
      height: 30px;
      padding: 10px 16px 8px;
      border-radius: 4px;
      border: 1px solid #ccc;
      background: #f5f5f5;
      line-height: 1.5;
      font-size: 16px;
      width: 100%;
    }
    #income_year_month_1i{
      height: 50px;
      padding: 10px 16px 8px;
      border-radius: 4px;
      border: 1px solid #ccc;
      background: #f5f5f5;
      line-height: 1.5;
      font-size: 16px;
      width: 32%;
    }
    #income_year_month_2i{
      height: 50px;
      padding: 10px 16px 8px;
      border-radius: 4px;
      border: 1px solid #ccc;
      background: #f5f5f5;
      line-height: 1.5;
      font-size: 16px;
      width: 32%;
    }
    #income_year_month_3i{
      height: 50px;
      padding: 10px 16px 8px;
      border-radius: 4px;
      border: 1px solid #ccc;
      background: #f5f5f5;
      line-height: 1.5;
      font-size: 16px;
      width: 32%;
    }
  }
  .field__form{
    display: flex;
    justify-content: space-between;
    margin-bottom: 35px;
    &__text{
      height: 48px;
      padding: 10px 16px 8px;
      border-radius: 4px;
      border: 1px solid #ccc;
      background: #f5f5f5;
      line-height: 1.5;
      font-size: 16px;
      width: 48%;
    }
}
}
.botan{
 
  width: 100%;
  text-align: center;
  background-color: white;
  position: relative;
  padding-bottom: 120px;
  input{
    width: 100px;
    height: 50px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom :0;
    margin:  auto;
    background-image: linear-gradient(to right, #ff758c 0%, #ff7eb3 100%);
  display: block;
  width: 20%;
  line-height: 48px;
  font-size: 14px;
  border: 1px solid transparent;
  -webkit-transition: all ease-out .3s;
  transition: all ease-out .3s;
  cursor: pointer;
  text-align: center;
  &:hover {
    text-decoration: underline;
    opacity: .7;
    background-image: linear-gradient(45deg, #874da2 0%, #c43a30 100%);
    color: white;
  }
}
}