%header
  .header
    .header__title
      家計簿アプリ
    .header__contents
      月ごとの収入、支出、今月の収支金額、全体の残高がわかるメモアプリです。
    .header__logout
    - if user_signed_in?
      = link_to "ログアウト", destroy_user_session_path, method: :delete, class: "header__logout__btn"
    - else